{% extends 'index.html' %}

{% block content %}
    <div class="page-title light-background">
        <div class="container">
            <h1>User Profile</h1>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li class="current">Profile</li>
                </ol>
            </nav>
        </div>
    </div>

    <section id="profile" class="section">
        <div class="container">
            <div class="row mb-4">
                <div class="col-md-4">
                    <div class="profile-info p-4 text-center" style="background: #f8f9fa; border-radius: 8px;">
                        <!-- <img src="assets/img/user-avatar.png" alt="User Avatar"
                            class="img-fluid rounded-circle mb-3" width="120"> -->

                        <i class='bx bxs-user-circle' style="font-size: 5rem; color: #7404FA;"></i>
                        <h3 class="fw-bold mt-3">{{request.user.first_name}} {{request.user.last_name}}</h3>
                        <p>{{request.user.email}}</p>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="list-section">
                        <h4 class="mb-3">My Items</h4>
                        <ul class="nav nav-tabs" id="profileTabs" role="tablist">
                            <li class="nav-item">
                                <button class="nav-link active" id="claimed-tab" data-bs-toggle="tab"
                                    data-bs-target="#claimed" type="button" role="tab" aria-controls="claimed"
                                    aria-selected="true">Claimed</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" id="found-tab" data-bs-toggle="tab" data-bs-target="#found"
                                    type="button" role="tab" aria-controls="found" aria-selected="false">Reported
                                    Found</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" id="missing-tab" data-bs-toggle="tab"
                                    data-bs-target="#missing" type="button" role="tab" aria-controls="missing"
                                    aria-selected="false">Reported Missing</button>
                            </li>
                        </ul>
                        <div class="tab-content p-4" id="profileTabContent">
                            <!-- Claimed Items -->
                            <div class="tab-pane fade show active" id="claimed" role="tabpanel"
                                aria-labelledby="claimed-tab">
                                {% for item in claim %}
                                    <div class="item-card mb-3 p-3 d-flex align-items-center"
                                        style="background: #f8f9fa; border-radius: 8px;">
                                        <img src="{{item.item.image.all.0.image.url}}"
                                            alt="item.item.image.all.0.image" class="me-3"
                                            style="width: 80px; height: auto; border-radius: 8px;">
                                        <div>
                                            <h5>{{item.item.name}}</h5>
                                            <p>Claimed on: {{item.claimed_on|date:"F d, Y"}}</p>
                                            <p> Status: <span class="badge {% if item.status == 'returned' %}badge-subtle-primary{% else %}badge-subtle-warning{% endif %}">
                                                {% if item.status == 'returned' %}returned{% elif item.claimed_by %}Verified{% else %}Unverified{% endif %}
                                                </span>
                                                <br/>
                                                {% if not item.status == 'returned' and item.claimed_by %}
                                                    <small>your claim for this item has been verified. The contact details to the one in possession of it is below this text</small>
                                                {% endif %}
                                            </p>
                                            {% if item.claimed_by == request.user %}
                                            <p>contact Phone: {{item.item.contact_phone}}</p>
                                            <p>contact Email: {{item.item.contact_email}}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% empty %}
                                    <div class="item-card mb-3 p-3 d-flex align-items-center flex-column justify-content-center"
                                         style="background: #f8f9fa; border-radius: 8px; height: 400px">
                                        <i class="bi bi-info-circle" style="font-size: 4rem; color: #7404FA;"></i>
                                        <h5> You haven't claimed any founded item yet.</h5>
                                        <a href="{% url 'items' %}" class="btn btn-primary me-0 me-sm-2 mx-1"
                                            style="padding-left: 14px; padding-right: 14px;">Claim Found Item</a>
                                    </div>
                                {% endfor %}
                            </div>
                            <!-- Reported Found Items -->
                            <div class="tab-pane fade" id="found" role="tabpanel" aria-labelledby="found-tab">
                                {% for item in found %}
                                    <div class="item-card mb-3 p-3 d-flex align-items-center" style="background: #f8f9fa; border-radius: 8px;">
                                        <img src="{% if item.image.all.0.image %}{{item.image.all.0.image.url}}{% endif %}"
                                            alt="item.image.all.0.image" class="me-3"
                                            style="width: 80px; height: auto; border-radius: 8px;">
                                        <div>
                                            <h5>{{item.name}}</h5>
                                            <p>Reported on: {{item.date_reported|date:"F d, Y"}}</p>
                                            <p>Found at: {{item.location}}</p>
                                        </div>
                                    </div>
                                {% empty %}
                                    <div class="item-card mb-3 p-3 d-flex align-items-center flex-column justify-content-center"
                                         style="background: #f8f9fa; border-radius: 8px; height: 400px">
                                        <i class="bi bi-info-circle" style="font-size: 4rem; color: #7404FA;"></i>
                                        <h5> You haven't reported any founded item yet.</h5>
                                        <a href="{% url 'report' %}" class="btn btn-primary me-0 me-sm-2 mx-1"
                                          style="padding-left: 14px; padding-right: 14px;">Report founded
                                          Item</a>
                                    </div>
                                {% endfor %}
                            </div>
                            <!-- Reported Missing Items -->
                             <div class="tab-pane fade" id="missing" role="tabpanel" aria-labelledby="missing-tab">
                                {% for item in lost %}
                                    <div class="item-card mb-3 p-3 d-flex align-items-center" style="background: #f8f9fa; border-radius: 8px;">
                                        <img src="{% if item.image.all.0.image %}{{item.image.all.0.image.url}}{% endif %}"
                                            alt="item.image.all.0.image" class="me-3"
                                            style="width: 80px; height: auto; border-radius: 8px;">
                                        <div>
                                            <h5>{{item.name}}</h5>
                                            <p>Reported on: {{item.date_reported|date:"F d, Y"}}</p>
                                            <p>Found at: {{item.location}}</p>
                                        </div>
                                    </div>
                                {% empty %}
                                    <div class="item-card mb-3 p-3 d-flex align-items-center flex-column justify-content-center"
                                         style="background: #f8f9fa; border-radius: 8px; height: 400px">
                                        <i class="bi bi-info-circle" style="font-size: 4rem; color: #7404FA;"></i>
                                        <h5> You haven't reported any missing item yet.</h5>
                                        <a href="{% url 'report' %}" class="btn btn-primary me-0 me-sm-2 mx-1"
                                          style="padding-left: 14px; padding-right: 14px;">Report Lost
                                          Item</a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
    </section>
{% endblock %}