{% extends 'index.html' %}
{% block content %}
    <!-- Page Title -->
    <div class="page-title light-background">
        <div class="container">
            <h1>Report Lost or Found Item</h1>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li class="current">Report</li>
                </ol>
            </nav>
        </div>
    </div><!-- End Page Title -->

    <!-- Service Details Section -->
    <section id="service-details" class="service-details section">

        <div class="container">


            <form class="p-4 bg-light rounded" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h3 class="mb-4">Report Lost or Found Item</h3>
                {{ form.non_field_errors }}
                {{form.error}}
                <!-- Item Name -->
                <div class="mb-3">
                    <label for="id_name" class="form-label">Suggest a name for the item</label>
                    {{ form.name }}
                    {{ form.name.errors }}
                </div>

                <!-- Item Type -->
                <div class="mb-3">
                    <label for="id_status" class="form-label">Is this item lost or found?</label>
                    {{ form.status }}
                    {{ form.status.errors }}
                </div>

                <!-- Item Description -->
                <div class="mb-3">
                    <label for="id_description" class="form-label">Item Description</label>
                    {{ form.description }}
                    {{ form.description.errors }}
                </div>

                <!-- Item Description -->
                <div class="mb-3">
                    <label for="id_features" class="form-label">Item features</label>
                    {{ form.features }}
                    {{ form.features.errors }}
                </div>

                <!-- Location -->
                <div class="mb-3">
                    <label for="id_location" class="form-label">Location</label>
                    {{ form.location }}
                    {{ form.location.errors }}
                </div>

                <!-- Date -->
<!--                <div class="mb-3">-->
<!--                    <label for="date" class="form-label">Date</label>-->
<!--&lt;!&ndash;                    <input type="date" class="form-control" id="date" name="date" required>&ndash;&gt;-->
<!--                    {{form.date_reported}}-->
<!--                </div>-->

                <!-- Photo Upload -->
                <div class="mb-3">
                    <label for="id_images" class="form-label">Upload Photos</label>
                    {{ form.images }}
                    {{ form.images.errors }}
                    <small class="form-text text-muted">You can upload multiple images to help identify the
                        item.</small>
                </div>

                <!-- Contact Information -->
                <div class="mb-3 found-only">
                    <label class="form-label">Ownership verification</label>
                    <div>
                        <small class="form-text text-muted">ask questions about the item only the owner would know</small>
                        {{ form.questions }}
                        {{ form.questions.errors }}
                        <small class="form-text text-muted">provide the correct answers for the questions</small>
                        {{form.answers}}
                        {{form.answers.errors}}
                    </div>

                </div>

                <!-- Contact Information -->
                <div class="mb-3">
                    <label class="form-label">Your Contact Information</label>
                    {{ form.email }}
                    {{ form.email.errors }}
                    {{form.phone}}
                    {{form.phone.errors}}
                </div>

                <!-- Submit Button -->
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary" style="background-color: #7404FA;">Submit
                        Report</button>
                </div>
            </form>
        </div>

    </section>
<!-- /Service Details Section -->
{% endblock %}

