{% extends 'index.html' %}

{% block content %}
    <!-- Page Title -->
        <div class="page-title light-background">
            <div class="container">
                <h1>Login</h1>
                <nav class="breadcrumbs">
                    <ol>
                        <li><a href="/">Home</a></li>
                        <li class="current">Login</li>
                    </ol>
                </nav>
            </div>
        </div><!-- End Page Title -->

        <!-- Service Details Section -->
        <section id="service-details" class="service-details section row-cols-lg-3">

            <div class="container">


                <form class="p-4 bg-light rounded" method="POST">
                    {% csrf_token %}
                    <h3 class="mb-4 text-center">Login</h3>
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {% for error in form.non_field_errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <!-- Username or Email -->
                    <div class="mb-3">
                        <label for="id_username" class="form-label">Username or Email</label>
                        {{ form.username }}
<!--                        <input type="text" class="form-control" id="username" name="username"-->
<!--                            placeholder="Enter your username or email" required>-->
                    </div>

                    <!-- Password -->
                    <div class="mb-3">
                        <label for="id_password" class="form-label">Password</label>
                        {{ form.password }}
<!--                        <input type="password" class="form-control" id="password" name="password"-->
<!--                            placeholder="Enter your password" required>-->
                    </div>
                    <br>
                    <!-- Submit Button -->
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary" style="background-color: #7404FA;">Login</button>
                    </div>

                    <div class="text-center"> <br>
                        <p>Don't have an account? <a href="{% url 'signup' %}">Signup</a></p>
                    </div>
                </form>
            </div>

        </section>
{% endblock %}
